.h1 {
  color: var(--color-blue1);
  font-weight: 700;
  font-size: 58px;
  line-height: 60px;

  @media (max-width: 768px) {
    font-size: 40px;
  }
}

.h2 {
  color: var(--color-blue1);
  font-size: 48px;
  line-height: 40px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}
