.h1 {
  color: var(--color-blue1);
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 40px;
  }

  span {
    display: inline-block;
    font-size: 60px;
    line-height: 50px;
  }
}

.h2 {
  color: var(--color-blue1);
  font-size: 48px;
  line-height: 40px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 26px;
  }
}

.h4 {
  font-size: 25px;
  font-weight: 600;
}