.contacts {
  width: 50%;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px; 
}

.top {
  gap: 32px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom {
  gap: 32px; 
  display: flex;
  justify-content: center;

  @media (max-width: 520px) {
    flex-direction: column;
  }
}

.contact {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  margin-bottom: 16px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 2px black;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .3s ease;
  svg {
    height: 25px;
    width: 25px;
  }
}

.link {
  padding-bottom: 5px;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background: black;
    transition: all .3s ease;
  }
}

.contact:hover .img {
  scale: 1.1;
}

.contact:hover .link:before  {
  width: 100%;
}
