.outer {
  background: var(--color-blue1);
  color: var(--color-white);
  box-shadow: -10px 0 5px var(--color-black);
}

.inner {
  text-align: center;
  height: var(--footer-size);
  
  display: flex;
  justify-content: center;
  align-items: center;
}