.base {
  height: 100%;
  flex: 0 1 50%;

  @media (max-width: 768px) {
    flex: 0 1 100%;
  }
}

.wrap {
  height: 100%;
  flex: 0 1 100%;

}

.title {
  height: 100%;
  flex: 0 1 60%;
  align-self: start;

  @media (max-width: 768px) {
    flex: 0 1 100%;
  }
}

.image-promo {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-self: center;

  @media (max-width: 768px) {
    display: none;
    // flex: 0 0 100%;
    // order: 2;
  }
}

.image {
  height: 100%;
  flex: 0 0 40%;

  display: flex;
  justify-content: start;
  align-self: start;

  @media (max-width: 768px) {
    align-self: center;
    flex: 0 0 100%;
    order: 1;
  }
}

.content {
  height: 100%;
  flex: 0 1 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    flex: 0 0 100%;
    order: 2;
  }
}
