.base {
  height: 50px;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  min-width: 200px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);


  &:hover svg {
    transform: translateX(5px); 
  }

  svg {
    transition: all .3s ease;
  }
}

.blue {
  background: var(--color-blue1);
  color: var(--color-white);
  border: 1px solid var(--color-white);

  transition: var(--transition);

  &:hover {
    border: 1px solid var(--color-blue1);
    color: var(--color-blue1);
    background: var(--color-white);
  }
}
