.outer {
  padding: 80px 0;
}

.inner {
  min-height: 300px;
}

.head {
  width: 70%;
  margin: 0 auto 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  height: 100%;
  margin: 0 -16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  margin-bottom: 32px;
  padding: 0 16px;
  flex: 0 1 33.333%;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 950px) {
    flex: 0 1 50%;
  }

  @media (max-width: 768px) {
    flex: 0 1 100%;
  }
}

.card {
  // margin-bottom: 16px;
  color: var(--color-black) !important;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 0 10px var(--color-blue1);
  border-radius: 10px;
  min-height: 200px;
  width: 100%;
  background: var(--color-white);

  display: flex;
  flex-direction: column;
  gap: 20px;

  h4 {
    color: var(--color-blue1) !important;
  }

  transition: all .3s ease;
  &:hover {
    box-shadow: 0 0 20px var(--color-blue1);
  }
}