html {
  scroll-behavior: smooth;
}

.app {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: var(--header-size);
  flex: 1 1 auto;
}

#promo {
  color: var(--color-blue1);

  @media (max-width: 768px) {
    padding: 0;
  }
  
}

section:nth-of-type(even) {
  color: var(--color-white);
  background: var(--color-blue1);

  img {
    box-shadow: 0 0 5px var(--color-white) !important;
  }

  h2 {
    color: var(--color-white);
  }

  li {
    box-shadow: 0 0 5px var(--color-white);
  }
}


.swiper-slide,
.swiper-slide-visible {
 
  
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}