html {
  scroll-behavior: smooth;
}

.app {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: var(--header-size);
  flex: 1 1 auto;
}

section:nth-of-type(even) {
  color: var(--color-white);
  background: var(--color-blue1);

  h3 {
    color: var(--color-white);
  }

  li {
    box-shadow: 0 0 5px var(--color-white);
  }
}
