:root {
  --color-white: #fff;
  --color-black:  #000;
  --color-blue1: #117;
  --color-blue2: #1dace9;
  --color-yellow: #ffc700;

  --container: 1200px;
  --header-size: 50px;
  --footer-size: 50px;

  --transition: all .5s ease;

  --gap-base: 16px;
  --gap-small: 8px;
  --gap-big: 24px;
  --gap-40: 40px;
}