.wrapper {
  width: 100%;
  display: flex;
  gap: 5px;

  @media (max-width: 768px) {
    display: block;

    .card {
      width: 100%;
    }
  }
}

.card {
  margin-bottom: 40px;
  background: transparent; 
  position: relative;
  left: 0;
  width: 100px;
  border-radius: 5px;
  padding: 8px;
  height: 600px;
  background: var(--color-white);
  transition: var(--transition);
  flex: 1;

  &:hover {
    flex: 3;
  }
}

.card:first-of-type {
  margin-bottom: 40px;
}