.wrapper {
  width: 100%;
  display: flex;
  gap: 5px;

  @media (max-width: 768px) {
    flex-direction: column;

    .card {
      width: 100%;
    }
  }
}

.card {
  position: relative;
  left: 0;
  width: 100px;
  border-radius: 5px;
  padding: 8px;
  height: 300px;
  background: var(--color-white);
  transition: var(--transition);
  flex: 1;

  &:hover {
    flex: 3;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}