.container {
  height: 100%;

  @media (max-width: 768px) {
    display: none;
  } 
}

.list {
  height: 100%;

  margin: 0 -10px;
  position: relative;
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}

.item {
  height: 100%;
  opacity: 0; 
}

.link {
  text-transform: capitalize;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  transition: var(--transition);

  &.active,
  &:hover {
    background: var(--color-yellow);
    color: var(--color-black);
  }
}

