.ul {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}

.li {
  // margin-left: 25px;
  // padding-left: 25px;
  width: 100%;
  position: relative;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-white);
  background: linear-gradient(45deg, var(--color-blue1), var(--color-blue2));
  // border: 1px solid var(--color-blue1);
  box-shadow: 0 0 5px var(--color-black);
  border-radius: 10px;
  padding: 30px;
  transition: var(--transition);

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 5px;
  //   left: 0;
  //   // transform: translate(0, -50%);

  //   height: 5px;
  //   width: 5px;
  //   background: var(--color-black);
  //   border-radius: 50%;
  // }

  &:hover {
    scale: 1.05;
  }
}